<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (locals.user) {%>
    <h2>Welcome Back <%= user.first_name %></h2>
    <% if (user.member_status) { %>
    <p>Member Status: True</p>
    <%}%>
    <ul>
      <li><a href="/secretMember">Secret Member Signup</a></li>
      <li><a href="/newMessage">New Message</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
    <%} else { %>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
    </ul>
    <%}%>
    <h2>All Messages</h2>
    <% data.forEach((message) => { %>
    <p>
      User: <% if (locals.user && user.member_status) { %> Show User <% } else { %> Anonymous <%}%>
      <br />Title: <%= message.title%><br />Message: <%= message.text%><br />Timestamp: <%= message.created_at%>
      <br />
    </p>
    <% }) %>
  </body>
</html>
